.feynman{
    height: 790px;
    background-color: #f2f2f2;
    padding-top: 100px;
    position: relative;
    /* display: flex; */
  }
  
  .feynman__image{
    position: absolute;
    bottom: 0;
  }
  
  .feynman__title{
    line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
    margin-top: 100px;
    width: 775px;
    text-align: center;
    position: relative;
    margin-bottom: 30px;
    margin-inline: auto;
  }
  
  .feynman__subtitle{
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    position: relative;
    margin-inline: auto;
    width: fit-content;
  }
  
  .feynman__link{
    position: absolute;
    color: #2f80ed;
    height: 51px;
    line-height: 51px;
    font-size: 36px;
    font-weight: bold;
    right: 48px;
    top: 50%;
    text-decoration: none;
  }